:root {
    --vstdev-vst-color: #c90526;
}

body.has-navbar-fixed-top {
    padding-top: 52px;
}

/**** navbar ****/
.vstdev-navbar {
    border-bottom: 1px solid #ebeaeb;
}

.vstdev-logo {
    height: 30px;
    vertical-align: middle;
}

@media (min-width: 1024px) {

    body.has-navbar-fixed-top {
        padding-top: 85px;
    }

    .vstdev-navbar {
        padding: 16px 0;
    }

    .vstdev-logo {
        height: 54px;
    }
}

.vstdev-navbar .navbar-brand {
    align-items: center;
    padding-left: 0px;
}

@media (min-width: 1024px) {
    .vstdev-navbar .navbar-brand {
        padding: 0px;
    }
}

.navbar-item img {
    max-height: 3rem;
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%;
}

.vstdev-navbar .navbar-item,
.vstdev-navbar .navbar-link {
    color: #1b1b1b;
    font-size: 16px;
}

.navbar a.navbar-item:hover,
.navbar a.navbar-item:focus {
    color: var(--vstdev-vst-color);
    background-color: inherit;
    text-decoration: none;
}

.navbar a.button {
    color: var(--vstdev-vst-color);
    background-color: #feecf0;
    border-style: hidden;
}

.navbar a.button:hover {
    color: var(--vstdev-vst-color);
    background-color: #fde0e6;
    border-style: hidden;
}

/**** hero ****/
.hero.is-main-hero {
    background-image: url('hero-main/background-55a9a4e4e87b11ee8884325096b39f47.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero a {
    color: var(--bulma-title-color);
}

.hero a:hover,
.hero a:focus {
    color: var(--vstdev-vst-color);
    text-decoration: none;
}

.hero a.button {
    color: var(--vstdev-vst-color);
    background-color: #feecf0;
    border-style: hidden;
}

.hero a.button:hover {
    background-color: #fde0e6;
    border-style: hidden;
}

/**** footer ****/
.footer {
    background-color: #f5f5f7;
}

.footer a {
    color: grey;
}

.footer a:hover {
    color: var(--vstdev-vst-color);
    text-decoration: underline;
}