:root {
    --vstdev-vst-light-grey: #f4f5f7;
    --vstdev-vst-dark-grey: #cfcfcf;
    --vstdev-vst-logo-old-dark-color: #8b9ea8;
    --vstdev-vst-logo-old-middle-light-color: #aabcc5;
    --vstdev-vst-logo-old-middle-lighter-color: #b9cbd3;
    --vstdev-vst-logo-old-light-color: #c8d9e1;

    --vstdev-vst-navbar-background-color: white;
    --vstdev-vst-navbar-border-bottom-color: #ebeaeb;
}

/**** navbar ****/
/* default: 3.25rem is 52px*/
body.has-navbar-fixed-top {
    padding-top: 52px;
}

.vstdev-navbar {
    border-bottom: 1px solid var(--vstdev-vst-navbar-border-bottom-color);
    background-color: var(--vstdev-vst-navbar-background-color);
}

.vstdev-navbar .vstdev-vst-logo {
    height: 30px;
    vertical-align: middle;
    padding-left: .75rem;
}

.vstdev-navbar .navbar-brand {
    align-items: center;
    padding-left: 0px;
}

@media (min-width: 1024px) {

    body.has-navbar-fixed-top {
        padding-top: 85px;
    }

    .vstdev-navbar {
        padding: 16px 0;
    }

    .vstdev-navbar .vstdev-vst-logo {
        height: auto;
        padding-left: 0rem;
    }

    .vstdev-navbar .navbar-brand {
        padding: 0px;
    }
}

.navbar-item img {
    max-height: 3rem;
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%;
}

.vstdev-navbar .navbar-item,
.vstdev-navbar .navbar-link {
    color: #1b1b1b;
    font-size: 16px;
}

.navbar a.navbar-item:hover,
.navbar a.navbar-item:focus {
    color: var(--vstdev-vst-logo-old-dark-color);
    background-color: inherit;
    text-decoration: none;
}

.navbar a.button {
    color: var(--bulma-title-color);
    background-color: var(--vstdev-vst-logo-old-light-color);
    border-style: hidden;
}

.navbar a.button:hover {
    color: var(--bulma-title-color);
    background-color: var(--vstdev-vst-logo-old-middle-lighter-color);
    border-style: hidden;
}

/**** hero ****/
.hero.is-main-hero {
    background-image: url('hero-main/background-450c77062ea843fb85f2726f21587768.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero a {
    color: var(--bulma-title-color);
}

.hero a:hover,
.hero a:focus {
    color: var(--vstdev-vst-logo-old-dark-color);
    text-decoration: none;
}

.hero a.button {
    color: var(--bulma-title-color);
    background-color: var(--vstdev-vst-logo-old-light-color);
    border-style: hidden;
}

.hero a.button:hover {
    background-color: var(--vstdev-vst-logo-old-middle-lighter-color);
    border-style: hidden;
}

/**** footer ****/
.vstdev-vst-trademark-logo {
    height: 120px;
    vertical-align: middle;
}

.footer {
    background-color: var(--vstdev-vst-light-grey);
}

.footer a {
    color: grey;
}

.footer a:hover {
    color: var(--vstdev-vst-logo-old-dark-color);
    text-decoration: underline;
}